@font-face {
  font-family: 'Krub';
  src: url('/fonts/krub/Krub-Variable.woff2') format('woff2-variations'),
    url('/fonts/krub/Krub-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
